@charset "utf-8";

body {
	width: 100%;
	height: 100%;
	color: #E4E4E4;
}

* {
	margin: 0;
	padding: 0;
	color: #E4E4E4;
	outline: none;
	z-index: 0;
}
img {
	outline: none;
	border: 0;
}
div {
	outline: none;
	border: 0;
}
button{
	outline: none;
	border: 0;
}

#homepage,#deviceready{
	position: absolute;
	width: 100%;
	height: 100%;
}
#indexhtml{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/drawbg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
}
#formInfo,#detailInfo,#myAwardInfo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: 0;
	display: none;
	background: url(../images/bgform.png);
}
#backWarn{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
}
#backWarnInfo{
	position: absolute;
	left: 30%;
	top: 30%;
	width: 40%;
	height: 50%;
	background-image: url(../images/toastnotaward.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: none;
}
#button_logo{
	position: absolute;
	left: 75.2083%;
	top: 2.9630%;
	width: 9.4271%;
	height: 10.6482%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../images/buttonlogo1.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#button_VIP{
	position: fixed;
	left: 85.625%;
	top: 2.9630%;
	width: 11.9792%;
	height: 10.6482%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../images/buttonopenVIPicon.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#button_moreInfo{
	position: fixed;
	left: 5.8854%;
	top: 56.5741%;
	width: 10.6771%;
	height: 9.6296%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../images/buttonmoreinfoicon.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#button_myAward{
	position: fixed;
	left: 16.6146%;
	top: 56.5741%;
	width: 10.6771%;
	height: 9.6296%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../images/buttonmyawardicon.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#activityInfo_one{
	position: fixed;
	left: 7.5%;
	top: 36.8519%;
	width: 19.0104%;
	height: 6.9407%;
	margin: 0 auto;
	font-size: 19px;
	background-color: rgba(0, 0, 0, 0);
}
#activityInfo_two{
	position: absolute;
	left: 7.5%;
	top: 44.6666%;
	width: 19.0104%;
	height: 9.4296%;
	margin: 0 auto;
	font-size: 18px;
	word-spacing: 30px;
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
}
#activityAward{
	position: fixed;
	left: 8.2292%;
	top: 74.1667%;
	width: 19.0104%;
	height: 11.1111%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 105%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}
#awardList{
	position: absolute;
	left: 73.2292%;
	top: 35.4630%;
	width: 20.6771%;
	height: 28.9815%;
	margin: 0 auto;
	font-size: 16px;
	word-spacing: 30px;
	overflow: hidden;	
	background-color: rgba(0, 0, 0, 0);
}
#luckyDraw{
	position: absolute;
	left: 74.0104%;
	top: 70.7407%;
	width: 19.0104%;
	height: 13.5185%;
	margin: 0 auto;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 150%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
}
#turntable{
	position: absolute;
	left: 33.75%;
	top: 28.8889%;
	width: 33.125%;
	height: 58.8889%;
	margin: 0 auto;
	background-image: url(../images/turntable.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#turntable_1{
	position: absolute;
	left: 44.9479%;
	top: 44.1852%;
	width: 10.6771%;
	height: 24.1481%;
	margin: 0 atuo;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../images/onstartdraw.png);
	/*background-image: url(../images/activityEnd.png);*/
	/*background-image: url(../images/notstartdraw.png);*/
	background-repeat: no-repeat;
	background-size: 100%;
}

#detailInfo_0{
	position: absolute;
	left: 3.2292%;
	top: 4.5370%;
	width: 22.9167%;
	height: 6.2963%;
	margin: 0 auto;
	font-size: 36px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid red;
}
#detailInfo_1{
	position: absolute;
	left: 8.4375%;
	top: 15.0926%;
	width: 83.125%;
	height: 41.9444%;
	margin: 0 auto;
	font-size: 24px;
	overflow: auto;
	text-overflow: ellipsis;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid red;
}
#detailInfo_2{
	position: fixed;
	left: 8.4375%;
	top: 58.7963%;
	width: 34.1667%;
	height: 5.1852%;
	margin: 0 auto;
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid red;
}
#detailInfo_3{
	position: absolute;
	left: 8.4375%;
	top: 66.8519%;
	width: 83.125%;
	height: 28.7963%;
	padding-left: 1%;
	overflow: auto;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid red;
}
#myAwardInfo_0{
	position: fixed;
	left: 3.2292%;
	top: 4.5370%;
	width: 22.9167%;
	height: 6.2963%;
	margin: 0 auto;
	font-size: 48px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid red;
}
#myAwardInfo_1{
	position: absolute;
	left: 17.34375%;
	top: 18.148%;
	width: 70.3125%;
	height: 80%;
	margin: 0 atuo;
	font-size: 24px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid red;
	line-height: initial;
}

#awardList ul{
	margin:0; padding:0
} 
#awardList li{
	height:25px; 
	line-height:25px; 
	font-size:12px;  
	list-style-type:none;
} 
.testspan{
	padding-left:10px ;
	display:inline-block;
	width: 60px;
	overflow: hidden;
	white-space:nowrap;
}

















































.fontSize{
	text-align: center;
	font-size: 26px;
	line-height: initial;
}
